$light: #e5e5e5;
$light-accent: #F4F4F4;
$light-medium: #d8d8d8;
$medium: #969696;
$medium-dark: #646464;
$black: #000;

$white: #ffffff;
$yellow: #e8c218;
$yellow-hover: #d6b316;
$green: #41d33e;
$green-hover: #35b233;
$orange: #ff8b00;
$orange-hover: #e87e00;
$blue: #1ba2e8;
$blue-hover: #1891d0;
$gradient-button: linear-gradient(270deg, #00dbff -0.04%, #0063c9 100.01%);
$red: #e33e38;
$red-hover: #c63631;
$alt: #8e38e3;
$alt-hover: #762dbe;

$font-small-res: 14px;
$font-default: 16px;
$font-medium-res: $font-default;

$media-mobile-res: 575px;
$media-small-res: 1366px;
$media-big-res: 1920px;
