<app-loading [show]="commonService.isLoading"></app-loading>

<ng-container *transloco="let t">
  <section>
    <div>
      <h3>{{ t('home.title') }}</h3>

      <ul>
        <li>
          <a class="link text-sm" [routerLink]="''">
            {{ t('home.quick_access.items.register_goals') }}
          </a>
        </li>
        <li>
          <a class="link text-sm" [routerLink]="''">
            {{ t('home.quick_access.items.order_entry') }}
          </a>
        </li>
      </ul>
    </div>
  </section>
</ng-container>

<div style="width: 150px;">
  <p ellipsis>Bob and Pete's Automotive Garage</p>
</div>

<div class="row justify-content-between">
  <form novalidate class="my-3" [formGroup]="form" *ngIf="form">
    <div class="row">
      <div class="col-sm-4">
        <mat-form-field floatLabel="always" appearance="outline" class="w-100">
          <mat-label>Nome completo</mat-label>
          <input matInput formControlName="nome" aria-label="Nome completo" />
        </mat-form-field>
      </div>

      <div class="col-sm-4">
        <mat-form-field floatLabel="always" appearance="outline" class="w-100">
          <mat-label>Nome completo</mat-label>
          <input matInput formControlName="nome" aria-label="Nome completo" />
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8">
        <mat-form-field floatLabel="always" class="w-100 custom-form-field-text-area" appearance="outline">
          <mat-label>Observação</mat-label>
          <textarea matInput customTextAreaCount formControlName="observacao" rows="6" style="resize: none"></textarea>

          <mat-error *ngIf="form.get('observacao')?.invalid && form.get('observacao')?.errors?.['maxlength']">
            Este campo é limitado a 4000 caracteres
          </mat-error>

          <mat-error *ngIf="form.get('observacao')?.invalid &&
                            form.get('observacao')?.errors?.['invalidText'] &&
                           !form.get('observacao')?.errors?.['maxlength']">

            {{ form.get('observacao')?.errors?.['invalidText']}}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>

  <div class="d-flex gap-3">
    <button mat-stroked-button color="primary" (click)="disable()">Disable</button>
    <button mat-stroked-button color="primary" (click)="enable()">Enable</button>
    <button mat-stroked-button color="primary" (click)="save()">Salvar</button>
  </div>
</div>

<div class="row justify-content-between">
  <app-dynamic-table [select]="false" [columns]="columns" [rows]="rows" [pageSize]="pagination.pageSize"
    [totalElements]="pagination.length" [actions]="actions" (actionClick)="runAction($event)"
    (sortChange)="sortData($event)" (pageChange)="pageData($event)">

    <ng-container *dynamicTableColumnDef="'dtValidade'; let element">
      {{ element.dtValidade | date : "dd/MM/YYYY" }}
    </ng-container>

  </app-dynamic-table>
</div>
