/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "./app/scss/variables.scss";

:root {
  --sidenav-width: 300px !important;
  --sidenav-collapsed-width: 88px !important;
  --sidenav-transition-duration: 400ms !important;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

pre {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.alert-dialog,
.confirmation-dialog {
  mat-dialog-container {
    mat-dialog-content {
      margin-top: 2rem;

      p {
        margin: 0 3rem;
        text-align: center;
      }
    }

    mat-dialog-actions {
      margin-bottom: 1rem;

      button {
        display: flex;
        gap: 4px;
        align-items: center;
        padding: 0.5rem 2rem;
        border-radius: 6px;
        border: 1px solid #b6b6b699;
        cursor: pointer;
      }
    }
  }
}

.justify-dialog {
  mat-dialog-container {
    mat-dialog-content {
      margin-top: 0;

      .container {
        display: flex;
        flex-direction: row;
        align-items: center;

        .justifyTitle {
          width: 100%;
          flex-wrap: nowrap;
          margin: 0 2rem;

          h3 {
            font-weight: bold;
          }
        }

        .wrapper-button {
          flex: 0 0 16.66667%;
          max-width: 16.66667%;

          button {
            width: 100%;
            cursor: pointer;
          }
        }
      }

      form {
        position: relative;
        margin-top: 1rem;

        mat-form-field {
          width: 100%;
          margin-top: 3rem;
        }
      }
    }

    mat-dialog-actions {
      margin-bottom: 1rem;

      button {
        display: flex;
        gap: 4px;
        align-items: center;
        padding: 0.5rem 2rem;
        border-radius: 6px;
        border: 1px solid #b6b6b699;
        cursor: pointer;
      }
    }
  }
}

.close-back-container {
  position: absolute;
  z-index: 1;
  top: -3px; // Faz com que a borda dos botões fiquem acima da linha das abas ou contextos dos dialogs
  right: 0;

  .button-exit {
    border-bottom: 4px solid;
    border-color: red;
    border-radius: 0 !important;
    padding: 0;
    min-width: 35px;
    font-family: Roboto;
    font-weight: 500;
    font-size: $font-default;
    color: $medium-dark;
  }

  button:not(.button-exit) {
    border-radius: 0 !important;
    padding: 0;
    min-width: 35px;
    color: $medium-dark;
    margin-right: 10px;
    border-bottom: 4px solid;
    border-color: transparent;
    cursor: pointer;
  }

  button:hover {
    border-color: $blue;
  }

  .mat-button .mat-button-focus-overlay {
    background-color: transparent;
  }
}

.custom-error-counter {
  width: 100%;
  position: relative;
  display: block;
  text-align: right;
  top: -15px;
  font-size: 12px;
  font-weight: 500;
  color: #212529;

  &.invalid {
    color: red;
  }
}

.w-5 {
  width: 5%;
}

.w-10 {
  width: 10%;
}

.w-15 {
  width: 15%;
}

.w-20 {
  width: 20%;
}

.w-25 {
  width: 25%;
}

.w-30 {
  width: 30%;
}

.w-35 {
  width: 35%;
}

.w-33 {
  width: 33.3333%;
}

.w-40 {
  width: 40%;
}

.w-45 {
  width: 45%;
}

.w-50 {
  width: 50%;
}

.w-55 {
  width: 55%;
}

.w-60 {
  width: 60%;
}

.w-65 {
  width: 65%;
}

.w-67 {
  width: 66.6666%;
}

.w-70 {
  width: 70%;
}

.w-75 {
  width: 75%;
}

.w-80 {
  width: 80%;
}

.w-85 {
  width: 85%;
}

.w-90 {
  width: 90%;
}

.w-95 {
  width: 95%;
}

.w-100 {
  width: 100%;
}


.custom-table {
  width: 100%;

  .table-overflow-component {
    table-layout: fixed;
    max-width: 100%;

    .overflow-detect .overflow-detect-span {
      display: block;
      max-width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .element-detail {
    overflow: hidden;
  }

  tr.detail-row {
    height: 0;
  }

  td {
    padding-right: 15px !important;

    &:last-child {
      padding-right: 0px !important;
    }
  }

  .mat-table tbody tr:nth-child(odd) {
    background-color: #f5f5f5;
  }

  .column-text-elipses {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  .mat-column-actions.stick-right {
    width: 10% !important;
    text-align: center !important;
  }

  .mat-tab-disabled.mat-tab-label:first-child {
    border-color: $blue !important;
  }

  .mat-tab-disabled.mat-tab-label {
    border-bottom: 4px solid;
    justify-content: left !important;
    font-size: $font-default;
    line-height: 24px;
    letter-spacing: 0.05em;
    opacity: 1;
    width: auto;
    min-width: 50px;
  }

  .mat-ink-bar {
    height: 4px !important;
    padding: 0px;
  }

  .no-ink-bar .mat-ink-bar {
    display: none;
  }

  .mat-tab-group.mat-primary .mat-ink-bar,
  .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: $yellow;
  }

  .mat-tab-label,
  .mat-tab-link {
    font-weight: 100;
    padding: 0 !important;
  }

  .mat-tab-labels>div {
    margin-right: 25px;
    border-bottom: 4px solid $light-medium;
  }

  .mat-cell {
    font-size: $font-default;
  }

  .mat-row:nth-child(even) {
    background-color: #fff;
  }

  .mat-row:nth-child(odd) {
    background-color: $light-accent;
  }

  .mat-row:hover {
    background-color: $light-medium;
  }

  .mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
  }

  .mat-cell,
  .mat-footer-cell {
    font-size: $font-default;
    font-weight: 300;
  }

  .mat-footer-cell.footer-row {
    .mat-icon {
      margin-top: 6px;
    }
  }

  .mat-header-cell {
    font-family: Roboto;
    font-weight: 900;
    font-size: $font-default !important;
    line-height: 24px;
    color: $dark;
    letter-spacing: 0.05em;
    justify-content: center;

    mat-icon {
      font-size: $font-default !important;
      height: 16px !important;
      width: 16px !important;
      padding-top: 5px !important;
    }
  }

  .mat-table {
    tbody {
      tr {
        td {
          .sm-icon {
            font-size: $font-default !important;
            color: rgb(252, 137, 6);
          }
        }
      }
    }
  }

  .mat-table thead,
  .mat-table tbody,
  .mat-table tfoot,
  mat-header-row,
  mat-row,
  mat-footer-row,
  [mat-header-row],
  [mat-row],
  [mat-footer-row],
  .mat-table-sticky {
    background: #fafafa;
  }

  th.mat-header-cell {
    border-bottom-width: 0px !important;
  }

  td:last-child.mat-column-acoes,
  td:last-child.mat-column-actions {
    padding: 0px;
    text-align: center;
    border: 0;

    .mat-icon {
      margin-left: 8px;
      margin-right: 8px;
      width: 16px;
      height: 16px;
      font-size: $font-default;
      cursor: pointer;
    }
  }

  th:last-child.mat-header-cell.mat-column-acoes,
  th:last-child.mat-header-cell.mat-column-actions {
    width: auto;
    text-align: center;
    padding: 0rem 1.5rem 0px 1.5rem;
    border: 0;

    .mat-sort-header-container {
      justify-content: center;
    }

    .mat-sort-header-content {
      text-align: left !important;
    }
  }

  .mat-table .mat-row:last-child .mat-cell {
    border-bottom: 0;
  }

  .tab-row-menu {
    position: absolute;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 46px;
    top: 0;
    background-color: $dark;
    padding: 11px 10px;
    width: max-content;
    font-weight: normal;
    margin-right: 16px;
    right: 0;
    border-radius: 8px;
    color: $white;

    &:hover {
      mat-icon:not(:hover):not(.cancel) {
        color: $medium;
      }

      mat-icon:hover:not(.cancel) {
        color: $white;
      }
    }

    mat-icon {
      color: $white;
      margin-left: 8px;
      margin-right: 8px;
      font-size: $font-default;
      opacity: 1;
      cursor: pointer;
    }

    .cancel {
      margin-right: 8px;
      color: $red;
    }

    .label-txt {
      color: $light;
      display: inline-flex;
      border-right: 1px solid $white;
      padding-right: 16px;
      padding-left: 8px;
      margin-right: 8px;
    }
  }

  .footer-row {
    background: $light-accent;
    margin: 0 auto;
    border-top-width: 1.1px !important;
    border-top-style: solid !important;
    border-bottom-width: 1.1px !important;
    border-bottom-style: solid !important;
    border-bottom-color: $light-medium !important;
    border-top-color: $light-medium !important;
  }

  .footer-row:hover {
    background: $light-medium;
  }

  .footer-row p {
    text-align: center;
    cursor: pointer;
    user-select: none;
    margin: 4px 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer-row p span {
    vertical-align: super;
    padding-left: 10px;
  }

  .no-data-row {
    background: $light-accent;
    margin: 0 auto;
  }

  .no-data-row p {
    text-align: center;
    cursor: pointer;
    user-select: none;
    margin-top: 4px;
  }

  .no-data-row p span {
    vertical-align: super;
    padding: 10px;
  }

  .no-data-row p mat-icon {
    margin-top: 10px;
  }

  .mat-tab-label-content {
    font-style: normal;
    font-weight: 300;
    font-size: $font-default;
    line-height: 24px;
    color: $medium-dark;
  }

  .mat-tab-label {
    opacity: 1 !important;
    min-width: 50px !important;
  }

  .mat-tab-label .mat-tab-label-content {
    padding: 0 10px;
  }

  .tab-lock-icon {
    color: #646464;
    font-size: $font-default;
    margin-top: 10px;
    margin-left: 8px;
  }

  // Número superior do título com a quantidade
  sup {
    font-size: 10px;
    padding: 8px 0 8px 8px;
  }

  .light-theme {
    background-color: #f4f4f4;

    .label-txt {
      color: #646464;
    }

    .mat-icon:not(:hover):not(.cancel) {
      color: #959595;
    }

    .mat-icon:hover:not(.cancel) {
      color: #646464 !important;
    }
  }
}
